<div class="banner-top">
	<div class="container">
		<h3>Login</h3>
		<h4><a routerLink = "/main">Home</a><label>/</label>Login</h4>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="login">
  <div class="main-agileits">
    <div class="form-w3agile">
        <h3>Login</h3>
        <form [formGroup]="registerForm" (ngSubmit)="validate()">
            <div class="key form-group">
                <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                <input type="text" formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)] = "email"/>
                <div class="clearfix"></div>
            </div>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            <div class="key form-group">
                <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                <input type="password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)] = "password"/>
                <div class="clearfix"></div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            <input type="submit" value="Login">
        </form>
    </div>
      <div class="forg">
          <!-- <a href="#" class="forg-left">Forgot Password</a> -->
          <a routerLink = "/register" class="forg-right">Register</a>
        <div class="clearfix"></div>
      </div>
  </div>
</div>
