<div class="nav-top">
  <nav class="navbar navbar-default"> 
  </nav>
   <div class="cart">
      <span routerLink = "/cart" class="fa fa-shopping-cart my-cart-icon" style="position: absolute; background-color: inherit; z-index: 999;"><span class="badge badge-notify my-cart-badge">
          <a routerLink = "/cart">{{len}}</a>
      </span></span>
  </div>
  <div class="clearfix"></div>
</div>
<div class="banner-top">
    <div class="search-form">
      <form class = "example" action="#" method="post">
        <!-- <input type="text" placeholder="Search.." name="search"> -->
        <input  type="text" name = "search" [(ngModel)]="filterName" placeholder="Search for your product..">
         <!-- <div *ngFor = 'let name of prods | filterBy:filterName index as i'>
      <nav>
        <img src="assests/1.jpeg" style = "width : 120px; height: 200px">  <a class = "b" routerLink = "/productdetails/{{i}}">{{name}}</a>
        <hr>
    </nav>
    </div> -->
      </form>
    </div>
</div>
<div class="content-top">
  <div class="spec ">
    <div class="ser-t">
      <b></b>
      <span><i></i></span>
      <b class="line"></b>
    </div>
  </div>
        <div class="com-w31">
          <div *ngFor = 'let in of tem| filterBy:filterName index as i' class="col-md-3 m-wthree">
            <div class="col-m">
                <a routerLink = "/productdetails/{{i}}" data-toggle="modal" data-target="#myModal1" class="offer-img">
                  <img routerLink = "/productdetails/{{i}}" src="assets/1.jpeg" class="img-responsive" alt="" style = "height: 100px;width: 100px">
                </a>
              <div class="mid-1">
                  <h6>{{in.name}}</h6>
                <div class="mid-2">
                  <b><i class="fa fa-inr" style="font-size:13px"></i>&nbsp;{{in.price}}</b>
                  <div class="clearfix"></div>
                </div>
                <div class="add">
                    <button (click) = "cart(in)" class="my-cart-btn my-cart-b ">Add to Cart</button>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
<!-- <div class = "a" style= "padding-left: 500px;">
    <input  [(ngModel)]="filterName" placeholder="Search for your product..">
    </div>
    <h2 style = "text-align: center">Grab your product</h2>
    <div *ngFor = 'let name of prods | filterBy:filterName index as i'>
      <nav>
        <img src="assests/1.jpeg" style = "width : 120px; height: 200px">  <a class = "b" routerLink = "/productdetails/{{i}}">{{name}}</a>
        <hr>
    </nav>
    </div> -->