form.example button {
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: greenyellow;
  }
  form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
  }