<div class="banner-top">
	<div class="container">
		<h3 >Register</h3>
		<h4><a routerLink = "/login">Login</a><label>/</label>Register</h4>
		<div class="clearfix"> </div>
	</div>
</div>
	<div class="login">
		<div class="main-agileits">
				<div class="form-w3agile form1">
					<h3>Register</h3>
					<form [formGroup]="registerForm" (ngSubmit)="register()">
						<div class="key form-group">
							<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
							<input  type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [(ngModel)] = "username">
							<div class="clearfix"></div>
						</div>
						<div *ngIf="submitted && f.username.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
							<div *ngIf="f.username.errors.required">User Name is required</div>
						</div>
						<div class="key form-group">
							<i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
							<input type="text" formControlName="email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)] = "email"/>
							<div class="clearfix"></div>
						</div>
						<div *ngIf="submitted && f.email.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
							<div *ngIf="f.email.errors.required">Email is required</div>
							<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
						</div>
						<div class="key form-group">
							<i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
							<input type="password" formControlName="password" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [(ngModel)] = "password"/>
							<div class="clearfix"></div>
						</div>
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
							<div *ngIf="f.password.errors.required">Password is required</div>
							<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
						</div>
						<div class="key form-group">
							<i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
							<input  type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" [(ngModel)] = "confirmpassword">
							<div class="clearfix"></div>
						</div>
						<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
							<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
							<div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
						</div>
						<div class="key form-group">
							<i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
							<input  type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" [(ngModel)] = "phonenumber">
							<div class="clearfix"></div>
						</div>
						<div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback" style="color:red;" class="alert alert-danger">
							<div *ngIf="f.phonenumber.errors.required">Phone Number is required</div>
							<div *ngIf="f.phonenumber.errors.minlength">Phone Number must be atleast 10 digitd</div>
						</div>
						<input type="submit" value="Submit">
					</form>
				</div>
				
			</div>
		</div>